* {
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 320px;
    grid-area: sidebar;
    background: #1B1F23;
    height: 100vh;
    color: #f0f0f0;
}

.sidebar-top {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e238;
}

.sidebar-menu {
    padding: 20px 0 20px 20px;

    a {
        text-decoration: none;
        color: #eeeeee;
        width: max-content;
    }
}

.group-title {
    margin-bottom: 15px;
}

.sidebar-link {
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.sidebar-link.active {
    margin-left: 5px;
    background: #36383a;
    border-radius: 10px 0 0 10px;
}
