.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .card {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    height: 150px;
    box-shadow: rgba(209, 209, 209, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      font-size: 1.5rem;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }

    .card-content {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .card-icon {
      background: #1875bb;
      padding: 0.5rem;
      border-radius: 50%;
      height: 50px;
      width: 50px !important;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    .text-blue {
      color: #1875bb;
    }

    .text-yellow {
      color: #e4d613;
    }

    .text-green {
      color: #39bb18;
    }

    .blue {
      background: #1875bb;
    }

    .yellow {
      background: #e4d613;
    }

    .green {
      background: #39bb18;
    }
  }

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;

    .card {
      height: auto;
      max-height: 150px;
      gap: 5px;
    }
  }
}
