* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

#page-home {
  background: #007cc4;
  background: linear-gradient(
    180deg,
    rgba(0, 124, 196, 1) 0%,
    rgba(98, 158, 193, 1) 100%
  );
  color: #fff;
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 55vh;
  }

  .header-container {
    height: 25vh;
  }

  .title {
    padding-top: 80px;
    width: auto;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    height: 200px;
  }

  .card p {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
  }

  .card a {
    text-decoration: none;
    width: 75%;
    border-radius: 50px;
    padding: 15px;
    background: #fff;
    color: #007cc4;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.5s;
  }

  .card a:hover {
    background: #e2e2e2;
  }

  .horario,
  .contato {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top: 1px solid #e2e2e2c0;
  }

  footer {
    height: 20vh;
    background: #fff;
    color: #9e9e9e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
  }

  @media (max-width: 1200px) {
    .title {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 940px) {
    .title {
      padding-top: 20px;
      font-size: 2rem;
    }

    .header-container {
      height: 15vh;
      padding: 0 2vw;
    }

    .grid-container {
      height: 65vh;
      grid-template-columns: auto;
    }

    .card {
      height: auto;
    }

    .card p {
      font-size: 1.5rem;
    }

    footer img {
      width: 75%;
    }

    .horario,
    .contato {
      font-size: 1rem;
      padding: 15px;
    }

    .horario {
      border: none;
    }
  }
}
