#page-newHome {
    background: #007cc4;
    color: #fff;
    background: linear-gradient(
    150deg, #007cc4 0%, #2a9cb9 100%);

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    header {
        background: transparent;
    }

    .section-container {
        width: 1200px;
        margin: 0 auto;
    }

    .results {
        text-align: center;
        height: 50vh;

        .results-access {
            height: 50vh;
            padding-top: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            p {
                font-size: 1.5rem;
            }

            .results-link {
                background: #fff;
                padding: 15px;
                color: #343A40;
                text-decoration: none;
                border-radius: 50px;
            }

            .results-link:hover {
                background: #F0F1F3;
            }

        }

    }

    .about-us {
        background: #fbfbfb;
        color: #343A40;
        padding: 100px 0;

        .about-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            align-items: center;

            .about-text {
                width: 100%;
                display: flex;
                flex-direction: column;

                span {
                    color: #007cc4;
                    font-size: 1.2rem;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                h2 {
                    font-size: 2.5rem;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 5px;
                    
                }
            }

            img {
                width: 100%;
                border-radius: 4px;
            }
        }

    }

    .exams {
        background: #F0F1F3;
        color: #343A40;
        padding: 100px 0;

        .exams-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .exams-link {
                background: #F0F1F3;
                border: 2px solid #343A40;
                margin-top: 30px;
                padding: 15px;
                color: #343A40;
                text-decoration: none;
                border-radius: 50px;
                transition: all 0.15s;
            }

            .exams-link:hover {
                background: #343A40;
                color: #fff;
            }
        }

    }

    .scheduling {
        background: #fff;
        color: #343A40;
        padding: 100px 0;
        
        .scheduling-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            align-items: center;

            .scheduling-text {
                display: flex;
                flex-direction: column;
                align-items: left;
            }

            img {
                width: 100%;
                border-radius: 4px;
            }

            span {
                color: #007cc4;
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 5px;
            }

            .scheduling-link {
                background: #fff;
                border: 2px solid #343A40;
                color: #343A40;
                margin-top: 15px;
                text-decoration: none;
                border-radius: 50px;
                padding: 15px;
                width: max-content;
                transition: all 0.15s;
            }

            .scheduling-link:hover {
                background: #343A40;
                color: #fff;
            }
        }
    }

    .locale {
        background: #343A40;
        color: #F0F1F3;
        padding: 100px 0;

        .locale-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .locale-link {
                padding: 15px;
                background: #343A40;
                color: #fff;
                margin-top: 30px;
                border: 2px solid #fff;
                text-decoration: none;
                border-radius: 50px;
                width: max-content;
                transition: all 0.15s;
            }

            .locale-link:hover {
                background: #fff;
                color: #343A40;
            }

        }
    }

    .contact {
        background: #fff;
        color: #343A40;
        padding: 100px 0;

        .contact-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-container {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }

        .card {
            border-radius: 5px;
            height: 250px;
            background: #F0F1F3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h5 {
            font-size: 1.2rem;
        }
    }
}