#scheduling-page {

    form {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        width: calc((100vw - 320px) * .5);
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: rgba(209, 209, 209, 0.2) 0px 7px 29px 0px;

        .input-container {
            display: flex;
            gap: 30px;
        }

        .single-input-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

    }
}