#schedules-page {
    
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
    
    .schedules-container {
        margin-top: 20px;
    }
    
    .schedules-title {
        margin-bottom: 20px;
        padding-left: 5px;
    }
}